body {
    min-width: 250px;
}
li {
    list-style-type: none; 
}
ul {
    margin-left: 0; 
    padding-left: 0; 
}

.controls {
    display: inline-flex;
    width: 100%;
    align-items: center;
}



.play-btn {
    display: inline-block;
    float: left;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 25px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 12px 0 12px 15px;
    outline:none
}

.play-btn:hover {
    border-color: transparent transparent transparent #404040;
}

.play-btn.paused {
    border-style: double;
    border-width: 0px 0 0px 15px;
    height: 25px;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/* volume-control section */
#volume-control {
    background: #1ff;
    height: 2rem;
    width: 9rem;
    border-radius: 5rem;
    display: inline-flex;
    float: left;
    align-items: center;
    justify-content: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100px;
    height: 100%;
    background: transparent;
}

input[type="range"]:focus{
    outline:none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius:50%;
    background: #000000;
    box-shadow: 1px 1px 2px rgba(#000, 0.5);
    cursor: pointer;
    margin-top: -5px;
    color: #ff1fff;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 60%;
    height: 5px;
    background: #bdbdbd;
    border-radius: 3rem;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
    background: #ff6e40;
}

#volume-btn {
    display: inline-block;
    width: 29px;
    height: 25px;
    background: url(/res/sound_btn.png) no-repeat 0 0;
    transform: scale(0.71);
}